__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.env
.env.*
!.env.example
.venv/
.venv-build/
.venv-test/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.idea/
.vscode/
